In [1]:
#Por ejemplo, si tenemos un df 
import pandas as pd

df = pd.DataFrame()
df['mpg'] = None
mpg = [21,12,19]
df['mpg']=mpg

df

   mpg
0   21
1   12
2   19

In [2]:
#Para pasar a L/100km
df["mpg"]=235/df["mpg"] #pasamos el valor
df.rename(columns={"mpg":"L/100km"},inplace =True) #cambiamos el nombre
df

     L/100km
0  11.190476
1  19.583333
2  12.368421