In [3]:
import pandas as pd
import numpy as np

In [6]:
#Para pasar de valores cualitativos a cuantitativos, podemos agregar flags para cada tipo de valor
#Ejemplo tenemos el siguiente dataset
df = pd.DataFrame()
df['Car'] = None
df['Fuel']=None

Car=["A","B","C","D"]
Fuel=["Gas","Diesel","Gas","Gas"]

df['Car']=Car
df['Fuel']=Fuel
df

  Car    Fuel
0   A     Gas
1   B  Diesel
2   C     Gas
3   D     Gas

In [7]:
#En pandas podemos usar el m√©todo get_dummies()
pd.get_dummies(df['Fuel'])

   Diesel  Gas
0       0    1
1       1    0
2       0    1
3       0    1