In [15]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import scipy as sc
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
lm=LinearRegression()

In [16]:


df = pd.DataFrame()
df["drive-wheels"] = None
df["body-style"]=None
df["price"]=None
df["mpg"]=None

drive=["4wd","4wd","4wd","fwd","fwd","fwd","fwd","fwd","rwd","rwd","rwd","rwd","rwd"]

body=["hatchback","sedan","wagon","convertible","hardtop","hatchback","sedan","wagon","convertible","hardtop","hatchback","sedan","wagon"]

price=[7603,12647,9095,11595,8249,8396,9611,9997,23949,24202,14337,21711,16994]
mpg=[17,17,23,18,15,12,17,15,18,16,14,19,15]

df["drive-wheels"]=drive
df["body-style"]=body
df["price"]=price
df["mpg"]=mpg
df

   drive-wheels   body-style  price  mpg
0           4wd    hatchback   7603   17
1           4wd        sedan  12647   17
2           4wd        wagon   9095   23
3           fwd  convertible  11595   18
4           fwd      hardtop   8249   15
5           fwd    hatchback   8396   12
6           fwd        sedan   9611   17
7           fwd        wagon   9997   15
8           rwd  convertible  23949   18
9           rwd      hardtop  24202   16
10          rwd    hatchback  14337   14
11          rwd        sedan  21711   19
12          rwd        wagon  16994   15

In [17]:
#El coeficiente de correlación si es cercano a 1 gran relación positiva
#El coeficiente de correlación si es cercano a -1 gran relación negativa
#cercano a 0 no hay relación

#p-value 
#p-value < 0.001 gran certeza en el resultado
#p-value < 0.05 certeza moderada
#p-value <0.1 certeza débil
#p-value > 0.1 no hay certeza

pearson_coef,p_value=sc.stats.pearsonr(df["mpg"],df["price"])
print("Coeficiente de correlacion: ",pearson_coef)
print("p-value: ", p_value)

Coeficiente de correlacion:  0.11442702462873572
p-value:  0.7097232448083236

In [21]:
#La regresión lineal sirve para entender la relación entre 2 variables
#el predictor (x) y el objetivo (y)


X=df[['mpg']]
Y=df['price']

lm.fit(X,Y)
Yhat = lm.predict(X)
Yhat

array([13821.26236749, 13821.26236749, 15369.75530035, 14079.34452297,
       13305.09805654, 12530.85159011, 13821.26236749, 13305.09805654,
       14079.34452297, 13563.18021201, 13047.01590106, 14337.42667845,
       13305.09805654])

In [22]:
#También podemos calcular la intercepción
lm.intercept_

9433.865724381627

In [23]:
#También podemos calcular la pendiente con
lm.coef_

array([258.08215548])

In [24]:
#La relación entre el precio y los mpg va a estar dado por
A=lm.intercept_
B=lm.coef_

Price=A-B * df["mpg"]
Price

0     5046.469081
1     5046.469081
2     3497.976148
3     4788.386926
4     5562.633392
5     6336.879859
6     5046.469081
7     5562.633392
8     4788.386926
9     5304.551237
10    5820.715548
11    4530.304770
12    5562.633392
Name: mpg, dtype: float64