In [15]:
#Binning es separar valores parecidos en Bins o rangos
import pandas as pd
import numpy as np

df = pd.DataFrame()
df['price'] = None
prices=[13495,16500,18920,41315,5151,6295]
df['price']=prices
df

   price
0  13495
1  16500
2  18920
3  41315
4   5151
5   6295

In [21]:
#podemos agruparlos con
bins=np.linspace(min(df['price']),max(df['price']),4)

#creamos los nombres de los grupos
nombres_grupos=["Low","Medium","High"]

df["Grupos Precio"]=pd.cut(df["price"],bins,labels=nombres_grupos, include_lowest=True)
df

   price Grupos Precio
0  13495           Low
1  16500           Low
2  18920        Medium
3  41315          High
4   5151           Low
5   6295           Low