In [1]:
#Este gr√°fico se utiliza para mostrar progreso sobre logros
import pandas as pd

In [7]:
df=pd.DataFrame()
df["Country"]=["Denmark","Norway","Sweden"]
df["Inmigration"]=[3901,2327,5866]

df.set_index("Country",inplace=True)
df.head()

         Inmigration
Country
Denmark         3901
Norway          2327
Sweden          5866