In [9]:
#Las rest apis permiten la comunicación a través de internet
#para utilizar recursos, algoritmos, etc
#REST = REpresentational State Transfer APIs

#La  api de la nba sirve para descargar data de la NBA
#(instalamos la api de nba con pip3 install nba_api)
import nba_api
import pandas as pd

In [10]:
from nba_api.stats.static import teams
nba_teams=teams.get_teams()
nba_teams[:5]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966}]

In [7]:
#Podemos transformar ese diccionario en una tabla
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key,value in dict_.items():
            out_dict[key].append(value)
    return out_dict

dict_nba_team=one_dict(nba_teams)

In [11]:
#y esa tabla transformarla a un dataframe
dataframe=pd.DataFrame(dict_nba_team)
dataframe.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [12]:
#podemos hacer búsquedas, por ejemplo buscar los que tengan nickname warriors
df_warriors=dataframe[dataframe['nickname']=='Warriors']
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [13]:
#guardamos el id en otra variable
id_warriors=df_warriors[['id']].values[0][0]
print(id_warriors)

1610612744

In [15]:
#Para poder buscar ese id en la base de datos, usamos la función leagueGameFinder
from nba_api.stats.endpoints import leaguegamefinder

gamefinder=leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)

In [16]:
#ahora que tenemos la respuesta de la Api, en forma de HTML+JSON, usamos 
#la función de gamefinder para transformar a dataframe
games=gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22021,1610612744,GSW,Golden State Warriors,0022100340,2021-12-03,GSW vs. PHX,W,239,118,...,0.750,11.0,40.0,51.0,30,9,8,16,29,22.0
1,22021,1610612744,GSW,Golden State Warriors,0022100316,2021-11-30,GSW @ PHX,L,240,96,...,0.714,15.0,36.0,51.0,25,7,5,22,13,-8.0
2,22021,1610612744,GSW,Golden State Warriors,0022100300,2021-11-28,GSW @ LAC,W,243,105,...,0.545,11.0,32.0,43.0,25,19,2,16,27,15.0
3,22021,1610612744,GSW,Golden State Warriors,0022100290,2021-11-26,GSW vs. POR,W,240,118,...,0.750,11.0,37.0,48.0,31,8,5,15,19,15.0
4,22021,1610612744,GSW,Golden State Warriors,0022100278,2021-11-24,GSW vs. PHI,W,241,116,...,0.708,4.0,37.0,41.0,32,7,5,16,21,20.0